<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="no-referrer">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@mozzz111010" />
<meta property="og:url" content="https://www.mozzz.work" />
<meta property="og:title" content="itonaga" /> 
<meta property="og:description" content="itonaga yuma (mozzz) portfolio site" /> 
<meta property="og:image" content="https://www.mozzz.work/img/yuma_dot.jpg" />
{{ if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}
<title>
{{ .Title }}{{ if ne .Title .Site.Title }} - {{ .Site.Title }}{{ end }}
</title>
<!-- RSS -->
{{ with .OutputFormats.Get "RSS" }}<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />{{ end }}
