{{ define "title" }}
{{ with .Site.GetPage "/gallery" }}
    <h1 class=" is-1">{{ .Title }}</h1>
{{ end }}
{{ end }}

{{ define "main" }}
    <div class="container">
        <h2 class="is-1 top-pad strong-post-title">
            {{ .Title }}
        </h2>
        <div class="post-data">
            {{ if .Params.date }}{{ .Date.Format (.Site.Params.dateFormat | default "Jan 02, 2006") }} |{{ end }}
            {{ i18n "blog_readingTime" .ReadingTime }}
        </div>
        {{ if .Params.tags }}
        {{ $len := (len .Params.tags) }}
        <p>
            Tag{{ if gt $len 1 }}s{{ end }}:
            {{ range $index, $tag := .Params.tags }}
            <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ if ne (add $index 1) $len }},{{ end }}
            {{ end }}
        </p>
        {{ end }}
    </div>
    <!-- Begin blog post content -->
    <div class="container markdown top-pad">
        {{ .Content }}
    </div>
    <!-- End blog post content -->
    {{ partial "comments.html" . }}
{{ end }}
